<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aboutus.css') }}">
    <title>About Us</title>
</head>
<body>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="about-section paddingTB60 gray-bg">
                  <div class="container">
                      <div class="row">
  						<div class="col-md-7 col-sm-6">
  							<div class="about-title clearfix">
  								<h1>About <span>Us</span></h1>
  								<h3>We make you buy the best </h3>
  								<p class="about-paddingB">Welcome to twitterviews, your source for reviews from real people on twitter. We're dedicated to giving you the very best of twitterviews, with a focus on uniqueness, dynamicity and honesty.
Founded in 2019 by students of College of Engineering Adoor, twitterviews is set to go a long way from its beginnings as a college project. When we first started out, our passion for helping others choose the best there is, drove us to do intense research, and gave us the impetus to turn hard work into to a review site. We now serve customers all over the web, and are thrilled to be a part of the honest wing of the social media.

We hope you find twitterviews useful. If you have any questions or comments, please don't hesitate to contact us.</p>
<p>

  
Sincerely,
Students of CEA</p>

  							</div>
  						</div>
  						<div class="col-md-5 col-sm-6">
  							<div class="about-img">
  								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
  							</div>
  						</div>
                      </div>
                  </div>
              </div>
</body>
</html>
