<!DOCTYPE html>
<html lang="en">

<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
  <script src="https://code.jquery.com/jquery.js"></script>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Statistics</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="http://twitterview.herokuapp.com/">twitterviews</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">


      <form class="form-inline" method="POST" action="/read">
      <div class="form-group">

        <input type="text" name="product" class="form-control" placeholder="Search a product" autocomplete="off">
      </div>
      <button type="submit"><i class="fa fa-search"></i></button>
      </form>



      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href=mailto:snehsuresh02@gmail.com?cc=reshmaphilip97@gmail.com&subject="Reg:feedback"">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.twitter.com/">Twitter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container">

    <div class="row">
      <div class="col col-12 col-sm-6 col-lg-9">
        <h class="mainheads" style="text-align:center color:#33313b"> Popular Tweets</h><br>
        <div id="tw">
          <section>
            <ul id="tulist">
              {% for i in tweets %}
              <li id="tlist"> {{ i }} </li> <br>
              {% endfor %}
            </ul>

          </section>

        </div>
      </div>


      <div class="col col-12 col-sm-6 col-lg-3 ">
        <h class="mainheads"></h><br>
        <div id="st">
          <h3 class="productname">{{prod}}</h3>
          <table class="table1">
            <tr>

              <td>Number of tweets </td>
              <td> {{ totaltweets }} </td>
            </tr>
            <tr>
              <td>Posititve tweets </td>
              <td> {{positivetweets}} </td>
            </tr>
            <tr>
              <td>Negative tweets</td>
              <td> {{negativetweets}} </td>
            </tr>
            <tr>
              <td>Neutral tweets</td>
              <td> {{neutraltweets}} </td>
            </tr>
            <tr>
              <td> Percentage of positive</td>
              <td> {{percentageofpositives}} </td>
            </tr>
            <tr>
              <td>Percentage of negative</td>
              <td> {{percentageofnegatives}} </td>
            </tr>
            <tr>
              <td>Percentage of neutral</td>
              <td> {{percentageofneutral}} </td>
            </tr>
            <tr>
              <td>Grade</td>
              <td> {{Grade}} </td>
            </tr>

          </table>


        </div>
        <a href="pie_charts">Pie Chart</a><br>
      </div>

    </div>

  </div>




  </div>


</body>
<footer style="text-align: center">
  Copyright 2019, College Of Engineering Adoor.
</footer>

</html>
